{% extends 'main/base.html' %} 

{% load static %}

{% block bloque_principal %}

    {% comment %} <a href="https://tupagina.com" class="btn btn-primary boton-flotante">Guardar</a> {% endcomment %}
        
    <p class="tit-page">{% block titulo_principal %}Confección de Apto Físico{% endblock %}</p>

    {% comment %} MODIFICAR TODO ESTE BLOQUE DE ABAJO{% endcomment %}

    <main id='register'>
        <form action="" method="POST" >
        {% csrf_token %}
            <section id='seccion' role="region" aria-labelledby="user-info">
                <h2 id="user-info">Datos del Deportista</h2>
                <div class="info">
                    <label for="nombre">Nombre:</label>
                    <p>{{ form.nombres }}</p>
                </div>
                <div class="info">
                    <label for="apellido">Apellido:</label>
                    <p>{{ form.apellido }}</p>
                </div>
                <div class="info">
                    <label for="dni">DNI:</label>
                    <p>{{ form.dni }}</p>
                </div>
                <div class="info">
                    <label for="mail">Email:</label>
                    <p>{{ form.mail }}</p>
                </div>
            </section>
            <section id='seccion' role="region" aria-labelledby="prof-info">
                <h2 id="prof-info">Antecedentes de Salud</h2>
                
                <div class="info">
                    <label for="tipo">Cirugías?:</label>
                    <p>{{ form.tipo_matricula }}</p>
                </div>
                <div class="info">
                    <label for="nro">Alergías?:</label>
                    <p>{{ form.matricula }}</p>
                </div>
                <div class="info">
                    <label for="especialidad">Fatiga?:</label>
                    <p>{{ form.especialidad }}</p>
                </div>
                <div class="info">
                    <label for="telefono">Medicación?</label>
                    <p>{{ form.telefono }}</p>
                </div>
                
                <button class='registrar' type="submit">Guardar</button>
            </section>
        </form>
    </main>

{% endblock %}

