
{% extends 'main/base.html' %} 

{% load static %}

{% block bloque_principal %}

    <p class="tit-page">{% block titulo_principal %}Gestión de Certificados{% endblock %}</p>

    <div class='separador3'></div>

    <main id='register'>
        <form method="post">
        {% csrf_token %}
            <section id='seccion' role="region" aria-labelledby="user-info">
                <h2 id="user-info">Ingrese el DNI del paciente:</h2>
                
                <div class="info ingreso-dni">
                    <label for="user">DNI:</label>
                    <p><input type="text" name="dni" id="dni" required></p>
                    {% if errors %}
                        <samp>{{ errors.0 }}</samp>
                    {% else %}
                        <samp></samp>
                    {% endif %}
                </div> 

                {% if medico %}
                    <div class='btn-consultar'>
                        <button class='consultar' type="submit">Buscar / Nuevo</button>
                    </div>
                {% else %}
                    <div class='btn-consultar'>
                        <button class='consultar' type="submit">Buscar / Nuevo</button>
                    </div>
                {% endif %}

                <h2 id="user-info">Ir a Instituciones</h2>

                <button class='registrar'><a href={% url 'listar-instituciones' %}>Instituciones</a></button>

                <h2 id="user-info">Ir a Deportes</h2>

                <button class='registrar'><a href={% url 'listar-deportes' %}>Deportes</a></button>

            </section>
        </form>
    </main>

    <div class='separador4'></div>

{% endblock %}