<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Municipalidad de Concordia{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link id="icono" rel="icon" href="{% static "img/escudo_concordia.jpg" %}">
    <link rel="stylesheet" href="{% static 'css/styles_web.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="https://www.concordia.gob.ar/">
                <img src='{% static "img/logo-muni.png" %}' alt="Municipalidad de Concordia" width="270" height="80">
            </a>
        </div>
    </nav>

    <nav class="navbar segundo">
        <span class="fecha"></span>
    </nav>

    <div>
    {% block bloque_principal %}
    
        <p class="tit-page">{% block titulo_principal %}{% endblock %}</p>

    {% endblock %}
    </div>
    
    {% block footer %}
    <footer id="footer">
        <section class="social">
            <a class="facebook" 
                title="follow in facebook"
                href="https://facebook.com" 
                target="_blank">
            </a>
            <a class="instagram" 
                title="follow in instagram"
                href="https://instagram.com" 
                target="_blank"> 
            </a>
            <a class="twitter" 
                title="follow in twitter"
                href="https://twitter.com" 
                target="_blank"> 
            </a>
            <a class="youtube" 
                title="fork in github"
                href="https://youtube.com" 
                target="_blank"> 
            </a>
        </section>
        <p class="copy">&copy; Desarrollado por <strong><em>@legre</em></strong></p>
        <p class="copy">Municipalidad de Concordia - 2024 </p>
        <p class="copy">Mitre 76, Concordia, Entre Ríos</p>
    </footer>
    {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
    <script src='{% static "js/script.js" %}'></script>
</html>