
{% extends 'web/base.html' %} 

{% load static %}

{% block bloque_principal %}

    {% comment %} <a href="https://tupagina.com" class="boton-flotante">Aptos Físicos</a> {% endcomment %}
        
    <p class="tit-page">{% block titulo_principal %}Aptos Físicos{% endblock %}</p>

    <p class='titulo-resultado'>Datos del Deportista</p>

    <div class='container c-datos'>

        <samp class='datos'><kbd>APTITUD:</kbd>  APTO SIN RESTRICCIONES.</samp>

        <samp class='datos'><kbd>NOMBRE:</kbd>  Juan José</samp>

        <samp class='datos'><kbd>APELLIDO:</kbd>  LÓPEZ</samp>

        <samp class='datos'><kbd>FECHA DE NACIMIENTO:</kbd>  05/06/2003</samp>

        <samp class='datos vence'>Este certificado tiene validez hasta el <kbd>22/05/2025</kbd>.</samp>
    
    </div>


{% endblock %}

